body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEEEEE;
}

a {
  color: #00B7FF;
}

#toolbox {
  float: left;
}
#toolbox ul {
  list-style-type: none;
}

#toolbox input[type="button"],input[type='submit'] {
  width: 80px;
}

#container { 
  position: relative; 
  float: left; 
  background-color: white;
}
#imageView { 
  border: 1px solid #000; 
}
#imageTemp,#iconLayer,#imageBuffer { position: absolute; top: 1px; left: 1px; }
#imageBuffer {
  visibility: hidden;
}